.container {
    width: 100%;
    max-width: 100%;
    height: 600px;
}

.documents-container {
    padding-top: 10px;
}

.components {
    margin: 20px 40px 20px 40px;
}

.header-container {
    margin-top: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}

.header {
    font-size: 32px;
    margin: 40px;
    max-width: 100%;
}

.row {
    height: 100%;
}

.attached-documents {
    margin-top: 10px;
}

.form {
    height: 80%;
    padding: 0;
    margin-left: -10px;
    margin-top: 70px;
}

.header-order {
    margin: 0px 0px 40px 40px;
    font-size: 20px;
}

.order {
    height: 100%;
}

.order-comp {
    height: 80%;
    
    overflow-x: none;
    overflow-y: auto;
}

.buttons {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.documents {
    height: 175px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    overflow-x: auto;
    overflow-y: none;
}

button {
    width: 150px;
}