<div class="container">
    <div class="row">
        <div class="col-2 list-of-tags">
            <div class="selector">
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="selectedTypeOfTasks">
                    <mat-radio-button class="example-radio-button" *ngFor="let select of selectableOptions" [value]="select.selector" (change)="onChangeSelect(select, $event)">
                        {{ select.type }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-10">
            <mat-tab-group [(selectedIndex)]="selectedTab">
                <mat-tab label="For work"> 
                    <app-table (selectedTask)="onSelectTask($event)" [selectedTab]=0 [selectedTypeOfTasks]="selectedTypeOfTasks"></app-table> 
                </mat-tab>
                <mat-tab label="In work"> 
                    <app-table (selectedTask)="onSelectTask($event)" [selectedTab]=1 [selectedTypeOfTasks]="selectedTypeOfTasks"></app-table> 
                </mat-tab>
                <mat-tab label="Completed"> 
                    <app-table (selectedTask)="onSelectTask($event)" [selectedTab]=2 [selectedTypeOfTasks]="selectedTypeOfTasks"></app-table> 
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
