<div class="container">
    <div class="row">
        <div class="col-2 list-of-tags">
            <div class="selector">
                <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group"
                    [(ngModel)]="selectedTypeOfTasks">
                    <mat-radio-button class="example-radio-button" *ngFor="let select of selectableOptions" [value]="select.selector">
                        {{ select.type }}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="col-10">
            <mat-tab-group [(selectedIndex)]="selectedTab">
                <mat-tab [label]="tab" *ngFor="let tab of tabs"> 
                    <app-table [selectedTab]="selectedTab" [selectedTypeOfTasks]="selectedTypeOfTasks"></app-table> 
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
