
<div class="container">
    <div class="row header">
        <button class="col-1" (click)="onDelete()">
            <img src="/assets\images\cross.png">
        </button>
        <span class="col-8">{{ document.creator }}</span>
        <span class="col-3">Version {{ document.version }}</span>
    </div>
    <button (click)="onFileDownload()">
        <div class="row body">
            <span class="col-12">
                {{ document.name }}
            </span>
        </div>
    </button>
</div>

