<form class="example-form">
    <label>Task (optional)</label>
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Task</mat-label>
        <input type="text"
             placeholder="Pick task"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.header" (onSelectionChange)="getSelection(option, $event)">
                <span>{{option.header}}</span>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>