/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-container {
    border-radius: 20px !important;
    padding: 50px !important;
}

.mat-dialog-title {
  font-size: 32px !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #146581 !important;
}

.mat-focused .mat-form-field-underline .mat-form-field-ripple {
  background-color: #146581 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #146581 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #146581 !important;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#146581 !important;
}

.mat-ink-bar {
  background-color: var(--primary-color,#146581) !important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #146581 !important;
}

.mat-calendar-body-selected {
  background-color: #146581 !important;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: #1465814d !important; 
}

.mat-datepicker-toggle-active {
  color: #146581;
}