<div class="sidenav">
    <div>
        <a routerLink="/">
            <span class="title">Docs</span>
            <span class="title">&</span>
            <span class="title">Go</span>
        </a>
    </div>
    <div class="menu">
        <a routerLink="/tasks">
            <img class="create-task" src="/assets\images\create-task.png" alt="">
            <span>Create</span>
            <span>task</span>
        </a>
        <a (click)="openDialog('100ms', '100ms')">
            <img class="create-document" src="/assets\images\create-document.png" alt="">
            <span>Create</span>
            <span>document</span>
        </a>
        <a href="https://localhost:44310/">
            <img class="manage-accounts" src="/assets\images\manage-accounts.png" alt="">
            <span>Manage</span>
            <span>accountes</span>
        </a>
    </div>
    <div class="button">
        <button class="logout-button" (click)="onLogout()">
            Log out
        </button>
    </div>
</div>
